@media (max-width: 349.99px) {
  html {
    font-size: 12px;
  }
  .space {
    padding-top: 4rem;
  }
  .addtocart,
  .installment {
    display: block;
  }
  .chatBox {
    height: 25rem;
  }
  .game {
    height: 70rem;
  }
  .info {
    width: 100%;
  }
  .NewsList .NewsImgContainer {
    height: 10rem;
  }
}
@media (min-width: 350px) and (max-width: 575.99px) {
  html {
    font-size: 13px;
  }
  .space {
    padding-top: 2rem;
  }
  .addtocart,
  .installment {
    display: block;
  }
  .chatBox {
    height: 25rem;
  }
  .game {
    height: 70rem;
  }
  .info {
    width: 100%;
  }
  .NewsList .NewsImgContainer {
    height: 10rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 14px;
  }
  .space {
    padding-top: 3rem;
  }
  .addtocart,
  .installment {
    display: block;
  }
  .chatBox {
    height: 25rem;
    width: 50%;
    position: relative;
    transform: translateX(50%);
  }
  .game {
    height: 70rem;
  }
  .info {
    width: 100%;
  }
  .NewsList .NewsImgContainer {
    height: 20rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 15px;
  }
  .space {
    padding-top: 2rem;
  }
  .addtocart,
  .installment {
    padding: 1rem 2rem;
  }
  .chatBox {
    height: 25rem;
    width: 50%;
    position: relative;
    transform: translateX(50%);
  }
  .game {
    height: 70rem;
  }
  .info {
    width: 100%;
  }
  .NewsList .NewsImgContainer {
    height: 20rem;
  }
}

@media (min-width: 992px) and (max-width: 1340.98px) {
  html {
    font-size: 16px;
  }
  .main a {
    padding: 1rem 1.5rem;
  }

  .space {
    padding-top: 3.5rem;
  }
  .padding-lg {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .NewsList {
    width: 75%;
  }
}

@media (min-width: 1341px) {
  html {
    font-size: 18px;
  }

  .main a {
    padding: 1rem 1.5rem;
  }
  .space {
    padding-top: 3.5rem;
  }

  .padding-lg {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .NewsList {
    width: 75%;
  }
}
