.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.form__title {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
.form__alert {
  font-size: 1rem;

  margin-top: 1rem;
}
.form__alert--success {
  color: #28a745;
}
.form__alert--warning {
  color: red;
}
.form__btn:visited {
  color: white;
}
.form__btn {
  color: white;
  padding: 0.5rem 1.5rem;
}
.form__signUp {
  color: #777777;
}
textarea:focus,
input:focus {
  outline: none;
}

input {
  padding: 1rem 2rem;
  background-color: transparent;
  border: 2px gray solid;
  width: 100%;
  margin-bottom: 2rem;
}
a:hover,
a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #3e3e3f; */
  /* color: white; */
}
a {
  color: white;
}
.padding-0 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.myNavbar li {
  color: white;
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
}
.myNavbar {
  background-color: black;
  /* position: fixed; */
  z-index: 1;
  width: 100%;
  margin: 0;
}
.myNavbar li,
.myNavbar ul,
.main,
.menu {
  height: 100%;
}
.myNavbar a {
  color: white;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
a:hover {
  text-decoration: none;
}
.main li:hover {
  background-color: #2f3033;
}

.myNavbar img {
  width: 70%;
}
.menu .bg {
  height: 2rem;
  position: relative;
  width: 2rem;
  background-color: #2f3033;
  border-radius: 50%;
}
.menu i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu .bg:hover {
  background-color: #4f5155;
}
.menu a {
  display: inline;
  padding: 0;
}

.searchInput {
  padding: 1rem 2rem;
  background-color: transparent;
  width: 100%;
  border: none;
  color: white;
  transition: all 1s;
}
input:focus {
  outline: none;
}
.searchForm {
  display: none;
  transition: all 1s;
  width: 100%;
  position: relative;
}
.myNavbar .fa-times {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  color: white;
  display: inline;
  cursor: pointer;
  font-size: 1.3rem;
}

.header {
  background-image: linear-gradient(
      45deg,
      rgba(2, 33, 64, 0.8) 55%,
      rgba(45, 95, 93, 0.85)
    ),
    url("../assets/img/banner_2.png");
  background-position: center;
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
  width: 100%;
  background-repeat: repeat-x;
  transition: all 1s;
  position: relative;
}
.header__btn {
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid rgba(242, 55, 55, 0.45);
  color: #f23737;
  cursor: pointer;
}

.myBtn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.myBtn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.header__btn::after {
  background-color: rgba(0, 0, 0, 0.6);
}

.myBtn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.header__btn a {
  color: #f23737;
}
.header__btn i {
  color: #f23737;
  margin-right: 0.5rem;
}

.header__img {
  width: 50%;
}
