.form {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 50%;
}

.form__title {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
.form__alert {
  font-size: 1rem;

  margin-top: 1rem;
}
.form__alert--success {
  color: #28a745;
}
.form__alert--warning {
  color: red;
}
.form__btn:visited {
  color: white;
}
.form__btn {
  color: white;
  padding: 0.5rem 1.5rem;
}
.form__signUp {
  color: #777777;
}
textarea:focus,
input:focus {
  outline: none;
}

input {
  padding: 1rem 2rem;
  background-color: transparent;
  border: 2px gray solid;
  width: 100%;
  margin-bottom: 2rem;
}
#file {
  padding: 0;
  background-color: unset;
  border: unset;
  width: 100%;
  margin-bottom: 2rem;
}
.btn {
  border-radius: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
}
a:hover,
a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #3e3e3f; */
  /* color: white; */
}
.padding-0 {
  padding-right: 0rem;
  padding-left: 0rem;
}
.padding-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}
.myNavbar li {
  color: white;
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
}
.myNavbar {
  background-color: black;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0;
}
.myNavbar li,
.myNavbar ul,
.main,
.menu {
  height: 100%;
}
.myNavbar a {
  color: white;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
.myNavbar .bgAccount {
  /* height: 2rem; */
  position: relative;
  /* width: 10rem; */
  padding: 5px 10px;
  background-color: #2f3033;
  border-radius: 10px;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}
.main li:hover {
  background-color: #2f3033;
}

.myNavbar img {
  width: 70%;
}
.menu .bg {
  height: 2rem;
  position: relative;
  width: 2rem;
  background-color: #2f3033;
  border-radius: 50%;
}
.menu i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu .bg:hover,
.myNavbar .bgAccount:hover {
  background-color: #4f5155;
}
.menu a {
  display: inline;
  padding: 0;
}

.searchInput {
  padding: 1rem 2rem;
  background-color: transparent;
  width: 100%;
  border: none;
  color: white;
  transition: all 1s;
}
input:focus {
  outline: none;
}
.searchForm {
  display: none;
  transition: all 1s;
  width: 100%;
  position: relative;
}
.myNavbar .fa-times {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  color: white;
  display: inline;
  cursor: pointer;
  font-size: 1.3rem;
}
.myNavbar .accountAvtContainer {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
}

.header {
  background-image: linear-gradient(
      45deg,
      rgba(2, 33, 64, 0.3) 55%,
      rgba(45, 95, 93, 0.35)
    ),
    url("../assets/img/banner_2.png");
  background-position: center;
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
  width: 100%;
  background-repeat: repeat-x;
  transition: all 1s;
  position: relative;
}
.header__btn {
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid rgba(242, 55, 55, 0.45);
  color: #f23737;
  cursor: pointer;
}

.myBtn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.myBtn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.header__btn::after {
  background-color: rgba(0, 0, 0, 0.6);
}

.myBtn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.header__btn a {
  color: #f23737;
}
.header__btn i {
  color: #f23737;
  margin-right: 0.5rem;
}

.header__img {
  width: 50%;
}

/* game */
.o {
  border: 3px solid white;
  width: 8rem;
  height: 8rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.o p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0;
  font-size: 5rem;
}
.grid {
  display: grid;
  place-items: center;
}
@keyframes flicker {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.turn {
  animation: flicker 1s linear infinite;
  color: #ffba00;
}
.ss {
  animation: flicker 1s linear infinite;
  color: #ffba00;
}
.game {
  background-image: linear-gradient(
      45deg,
      rgba(2, 33, 64, 0.5) 55%,
      rgba(45, 95, 93, 0.55)
    ),
    url("../assets/img/LOLBg.jpg");

  height: 100vh;
  background-size: cover;
  color: white;
}
@keyframes mymove {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fa-spinner-third {
  /* trng */
  margin-left: 1rem;
  animation: mymove 1s linear infinite;
}

/* blog */
.blogs {
  width: 100%;
}
.NewsList .blog {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.blogs .sessionTitle {
  font-weight: 800;
  font-size: 1.8rem;
  text-align: center;
}

.NewsList .NewsImgContainer {
  height: 20rem;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.newsDetail img {
  width: 100%;
}
.recentNews .NewsImgContainer {
  height: 15rem;
  background-size: cover;
  background-position: center;
}

.blog .title {
  font-weight: 800;
  font-size: 1.5rem;
  color: #000;
  text-transform: uppercase;
}
.NewsList .blogInfo {
  padding: 2rem;
}
.blog .summary,
.blog .author,
.blog .date,
.blog i {
  color: #777777;
}
.blog .author,
.blog .date {
  font-weight: 600;
}
.blog i {
  margin-right: 0.6rem;
}
.blog img {
  width: 100%;
}
.blog .title:hover {
  transition: all 0.2s;
  color: #ffba00;
}
.blog .author,
.blog .date {
  margin: 0;
}
.blog i {
  color: #ffba00;
}
.smallBlog .title {
  font-weight: 600;
  font-size: 1rem;
  text-transform: unset;
}
.smallBlogs .sessionTitle {
  font-weight: 500;
}

/* account */
.accountAvtContainer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.accountAvatar {
  /* border-radius: 50%; */
  width: 100%;
  height: auto;
}
.info {
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.info .accountAvatar {
  width: 100%;
  text-align: center;
}
.info .name {
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
}

/* Chat */
.chatBox {
  border: 2px solid white;
  border-radius: 1rem;
  padding: 1rem 0.1rem 1rem 2rem;
  position: relative;
  height: 25rem;
  background-color: rgba(0, 0, 0, 0.4);
}
.chatBox .accountAvtContainer {
  width: 40px;
  height: 40px;
}
.chatBox .content {
  overflow-y: scroll;
  height: 18rem;
  padding-right: 1rem;
  overflow-x: hidden;
}
.chatBox .content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(92, 92, 92);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}
.chatBox input {
  color: white;
  border-radius: 1rem;
  height: 1rem;
  bottom: 0;
  width: 80%;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.3);
}
.chatBox i {
  font-size: 2.2rem;
  color: white;
  margin-left: 5px;
}
.content p {
  margin: 0;
}
/* .content img {
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
} */

.message--sent {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem !important;
  border-bottom-right-radius: 2px;
  background-color: tomato;
}
.message--received {
  background-color: white;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem !important;

  border-radius: 0.5rem;
  border-bottom-left-radius: 2px;

  color: black;
}
/* .messages {
  padding-top: 10px;
  padding-bottom: 10px;
} */
/* .float-right {
  position: inherit;
  right: 10px;
} */

/* lsd */
.gameHistory .name {
  font-weight: 500;
}
.gameHistory .res {
  background-color: #28a745;
  color: white;
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 0.8rem;
}
